.service-card {
  height: 20rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: 300ms;
  border: 1px solid #DDDCFF;

  .card-image {
    min-height: 8.75rem;
  }

  .card-image img {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 100%;
    object-fit: cover;
  }

  .card-body {
    padding: 0.625rem 0.625rem 0 0.625rem;
  }

  .card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
  }

  .card-footer {
    padding: 0.625rem;
    background-color: transparent;
    border-top: none;
  }

  .card-rating-number {
    color: #EEC946;
  }

  .card-price {
    font-size: 1rem;
    font-weight: 600;
  }

  &:hover {
    transform: scale(1.048);
  }
}

.dashboard-service-card {
  height: fit-content;
  width: 100%;
  min-width: 180px;

  .card-image {
    height: 270px;
  }

  .card-description {
    font-size: 1rem;
  }
}

.add-service-link {
  text-decoration: none;
}

.add-service-card {
  height: 300px;
  width: 100%;
  min-width: 180px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: 300ms;
  cursor: pointer;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .add-service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background-color: #80CDD2;
    border-radius: 50%;
  }

  i.fas {
    color: black;
    font-size: 2.5rem;
  }

  &:hover {
    transform: scale(1.048);
  }
}
