<main class="container">
    <h1><%= t("services.title") %></h1>
    <%= link_to t("services.new"), new_service_path, class:"btn btn-primary" %>

    <div class="row mt-4">
      <%= render @services %>
    </div>
</main>
