<h1>Service show</h1>

<%= button_to service_chats_path(@service) do %>
  <span class="show-when-enabled">Conversar con proveedor</span>
  <span class="show-when-disabled">Cargando...</span>
<% end %>
