<nav class="navbar navbar-expand-lg main-navbar py-3">
  <div class="container-fluid px-5">

    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-kiwi-bird" style="color: #ffffff;"></i>
      <span>DBS</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= render component %>
      </ul>
    </div>

  </div>
</nav>
