<li class="nav-item dropdown">
  <div class="dropdown-toggle d-flex justify-content-center align-items-center" data-bs-toggle="dropdown">
    <%= render User::AvatarComponent.new(@user) %>
    <span class="nav-link"><%= t(:my_account) %></span>
  </div>
  <div class="dropdown-menu dropdown-menu-end">
      <%= link_to "Dashboard", edit_account_path, class: "dropdown-item" %>
      <%= link_to t(:sign_out), destroy_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
  </div>
</li>
