*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html, body {
  font-family: var(--theme-primary-font-family);
  height: 100%;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: var(--color-text-header);
  // line-height: var(--line-height-headers);
}

h1 {
  // font-size: var(--font-size-xxxl);
}

h2 {
  font-weight: 700;
  // font-size: var(--font-size-xxl);
}

h3 {
  // font-size: var(--font-size-xl);
}

h4 {
  // font-size: var(--font-size-l);
}

a {
  color: var(--theme-link-color);
  transition: color 300ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--theme-link-hover-color);
  }
}
