:root {
  --theme-primary-font-family: 'Inter', sans-serif;
  --theme-primary-color: #615DEF;
  --theme-primary-hover-color: #4c47e5;
  --theme-primary-border-radius: 0.313rem;
  --theme-link-color: #6e6e6e;
  --theme-link-hover-color: #959595;
}
