<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "https://source.unsplash.com/random/?beach", class: "d-block w-100 home-banner" %>
    </div>
  </div>
</div>
