<div class="d-flex justify-content-between align-items-center gap-2">
  <%= cl_image_tag chat.provider.avatar.key, class: "avatar-title-chat", alt: "avatar" %>
  <div class="ms-2 lh-sm">
    <span class="fw-bold h5 receiver-name"><%= chat.provider.business_name %></span>
    <div>
      <i class="fa-solid fa-circle circle-availability"></i>
      <small data-chat-subscription-target="providerStatus" class="text-secondary">
        Desconectado
      </small>
    </div>
  </div>
</div>
