#section-chat-list {
  .container-messages-column {
    >div:last-child {
      height: calc(100vh - 251px);
      overflow: scroll;
    }

    input {
      width: 81%;

      &:focus {
        outline: none;
      }
    }

    .chat-list-item {
      cursor: pointer;

      &:hover {
        background-color: var(--theme-secondary-background-color);
      }
    }

    .bg-theme {
      background: var(--theme-primary-background-color);
    }

    .amount-messages {
      padding-top: 1.5px;
      padding-bottom: 1.5px;
      background-color: #E4E4FC;
    }

    .container-search {
      border: 1px solid rgba(0, 0, 0, 0.10);

      i {
        font-size: 1.1rem;
      }

      input::placeholder {
        font-size: 0.875rem;
      }
    }

    .chat-detail {
      border-radius: 0.75rem;

      div:nth-child(2) {
        small {
          opacity: 0.4;
          color: black;
        }
      }

      div:nth-child(3) {
        font-size: 0.875rem;

        span {
          opacity: 0.3;
          color: black;
        }
      }
    }

    .chat-detail:first-child {
      margin-top: 25px !important;
    }
  }
}

@media screen and (max-width: 991px) {
  #section-chat-list {
    .container-messages-column {
      margin-right: 0 !important;
      padding: 0 .5rem;

      h3 {
        font-size: 1rem;
        margin-bottom: 0;
      }

      .amount-messages {
        font-size: 0.9rem;
      }

      .bg-theme {
        background-color: rgba(97, 94, 240, 0.10);
      }

      .chat-detail {
        div:nth-child(2) {
          line-height: normal;

          >div {
            font-size: 0.9rem;
          }

          small {
            display: block;
            font-size: 0.75rem;
            margin-top: 3px;
          }
        }
      }

      .container-search {
        margin: 0.5rem 0.7rem 0;
      }

      >div:nth-child(2) {
        margin: 0.8rem 0.7rem 0;
      }

      >div:last-child {
        overflow-y: scroll;
        height: calc(100vh - 172px);
      }

      .chat-detail:first-child {
        margin-top: 10px !important;
      }
    }
  }
}
