.message-row {
  padding: 0.2rem 0 0.1rem;
}

.sender-style,
.receiver-style {
  max-width: 400px;
  padding: 8px 16px;

  p {
    margin-bottom: 0.2rem;
  }
}

.sender-style {
  background-color: #DDDCFF;
  color: #000000;
  margin-right: 1rem;
  border-radius: 10px 0px 10px 10px;
}

.receiver-style {
  background-color: #FFFFFF;
  color: #000000;
  margin-left: 1rem;
  border-radius: 0px 10px 10px 10px;
}

@media screen and (max-width: 991px) {
  .sender-style, .receiver-style {
    margin-right: 0;
  }
}
