#section-quotations {
  background-color: #E6EC89;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;

  .container-my-quotations {

    h4{
      color: var(--theme-primary-color);
    }

    i {
      color: #615DEF !important;
    }
  }
}

@media screen and (max-width: 767px) {
  #section-quotations {
    background-color: #F6F6FE;
  }
}
