#section-quotations {
  background-color: #E6EC89;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;

  .container-my-quotations {

    h4{
      color: var(--theme-primary-color);
    }

    i {
      color: var(--theme-primary-color) !important;
    }

    input {
      outline: none;
    }
  }
}

@media screen and (max-width: 767px) {
  #section-quotations {
    background-color: #F6F6FE;
    padding: 0 !important;
    height: 100vh;

    .container-title-chat {
      padding: 0.5rem 1.8rem !important;

      .circle-availability {
        font-size: 0.5rem;
        vertical-align: middle;
      }
    }

    .container-my-quotations {
      padding: 0 1.8rem;
    }

    .list-quotations {
      padding: 0 1.8rem;

      .container-quotation-info {
        background-color: transparent !important;

        .quotation-status {
          background-color: white;
        }
      }
    }
  }
}
