<div class="mt-5" data-search-message-target="chats">
  <% chats.each do |chat| %>
    <div class="chat-detail d-flex my-3 align-items-center">
      <div class="me-3">
        <%= cl_image_tag chat.provider.avatar.key, class: "avatar", alt: "avatar" %>
      </div>

      <div>
        <div>
          <%= fullname(chat.provider) %>
        </div>

        <div>
          <%= chat&.messages&.last&.content.to_s.truncate(20, separator: ' ') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
