<div class="mt-5" data-search-message-target="chats">
  <% chats.each do |chat| %>
    <%# Now, requests are remote way, if you want to change it, set turbo: false %>
    <%= link_to service_chat_path(@service, chat),
                class: "rounded chat-detail #{background_chat_list_item(@chat.id, chat.id)} text-decoration-none d-flex my-2 px-2 py-2 align-items-center chat-list-item" do %>

      <div class="me-3">
        <%= cl_image_tag chat.provider.avatar.key, class: "avatar", alt: "avatar" %>
      </div>

      <div>
        <div class="text-dark fw-bold">
          <%= fullname(chat.provider) %>
        </div>

        <div class="text-secondary fw-light">
          <%= chat&.messages&.last&.content.to_s.truncate(20, separator: ' ') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
