<main class="container">
  <main class="row">
    <section class="col-3">
      <%= render 'chats/chats_list', chats: @chats %>
    </section>

    <section class="col-6">
      <%= render 'chats/chat', chat: @chat, service: @service, message: @message %>
    </section>

    <section class="col-3">
      <h2>Mis Cotizaciones</h2>
      <p>Cotizaciones formales</p>
    </section>
  </div>
</main>
