<main>
  <div class="row">
  <%# deberia ponerle d-none solo quite para hacer front %>
    <section class="d-none col-12 col-lg-3 d-lg-block" id="section-chat-list">
      <%= render 'chats/chats_list', chats: @chats %>
    </section>
    <%# no deberia estar d none solo es par asterminar el fornt %>
    <section class="col-12 col-md-11 col-lg-9" id="section-chats">
      <%= render 'chats/chat', chat: @chat, service: @service, message: @message %>
    </section>

    <section class="d-none col-12 col-md-3" id="section-quotations">
      <%= render 'chats/quotations', chat: @chat %>
    </section>
  </div>
</main>
