<main class="container">
  <main class="row">
    <section class="col-3">
      <%= render 'chats/chats_list', chats: @chats %>
    </section>

    <section class="col-6">
      <%= render 'chats/chat', chat: @chat, service: @service, message: @message %>
    </section>

    <section class="col-3 d-none" id="section-quotations">
      <%= render 'chats/quotations' %>
    </section>
  </div>
</main>
