<h1>hola</h1>

<%= simple_form_for :hola do |f| %>
  <%= f.input :nombre %>
<% end %>

<i class="fa-brands fa-font-awesome"></i>
<i class="fa-solid fa-user-secret"></i>
<i class="fa-regular fa-bell"></i>
