.home-banner {
  height: 45vh auto;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #D9D9D9;
  padding: 120px 170px;
  background-size: cover;
}

.home-banner p {
  width: 30vw;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 37px;
}


.home-banner .btn{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  line-height: 36.57px;
}



