.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

  h1 {
    border-bottom: 1px solid #0E0000;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    background-color: #F6F6FE;
  }

  #new_message {
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .circle-availability {
    color: #69D391;
    font-size: 7px;
    vertical-align: middle;
  }

  .btn-quote {
    background-color: #F0EFFD;
    color: var(--theme-primary-color);
    padding: 10px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
}

.container-messages-column {
  input {
    width: 83%;

    &:focus {
      outline: none;
    }
  }

  .chat-list-item {
    cursor: pointer;

    &:hover {
      background-color: rgba(97, 94, 240, 0.06);
    }
  }

  .bg-theme {
    background: var(--theme-background-color);
  }
}
