// External libraries
@import "bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/variables";
@import "config/bootstrap_variables";
@import "config/reset";

// Components
@import "components/index";

// Layouts
@import "layouts/container";
@import "layouts/header";
@import "config/media";

button {
  .show-when-enabled { display: initial; }
  .show-when-disabled { display: none; }

  &[disabled] {
    .show-when-enabled { display: none; }
    .show-when-disabled { display: initial; }
  }
}
